.container{
    margin: 0 auto !important;
    height: 100%;

}
body{
    background: url("../images/bg.jpg") ;
    background-attachment:fixed;
}
html, body {
    height: 100%;
}

section{
    height: 100%;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.main{
    height: 100%;
    background: #fff;
    padding: 70px 30px 30px 30px;
    overflow: scroll;
}
.postImg{
    max-width: 100px;
}
.post{
    position: relative;
}
.post_img {
    width: inherit;
}
.post_img img{
    max-width: 100%;
}
.post_title{
    text-align: center;
}
.post_date{
    text-align: right;
}
.back_btn{
    position: absolute;
    left: -30px;
}